# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# Maven specific files
target/

# IntelliJ IDEA specific files
.idea/

# Eclipse specific files
.classpath
.project
.settings/
bin/

.pdf
.code-workspace